@font-face {
    font-family: 'Ponder';
    src: url('../fonts/Ponder-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ponder';
    src: url('../fonts/Ponder-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Ponder';
    src: url('../fonts/Ponder-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Ponder Extra';
    src: url('../fonts/Ponder-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Ponder';
    src: url('../fonts/Ponder-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

